<h1>Social Media Stats</h1>

<%= pie_chart({"Facebook" => 80, "Twitter" => 70, "Instagram" => 15, "Snapchat" => 25, "Whatsapp" => 55, "Telegram" =>13}) %>
<%= line_chart({"Facebook" => 80, "Twitter" => 70, "Instagram" => 15, "Snapchat" => 25, "Whatsapp" => 55, "Telegram" =>13}) %>
<%= bar_chart({"Facebook" => 80, "Twitter" => 70, "Instagram" => 15, "Snapchat" => 25, "Whatsapp" => 55, "Telegram" =>13}) %>
<%= scatter_chart({"Facebook" => 80, "Twitter" => 70, "Instagram" => 15, "Snapchat" => 25, "Whatsapp" => 55, "Telegram" =>13}) %>
<%= geo_chart({"Facebook" => 80, "Twitter" => 70, "Instagram" => 15, "Snapchat" => 25, "Whatsapp" => 55, "Telegram" =>13}) %>
